/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
  html {
    font-size: 8px;
  }
  .navbar-expand .navbar-toggler {
    display: block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
  .navbar-expand .navbar-toggler {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
  .container {
    max-width: 960px;
  }
  .navbar-expand .navbar-toggler {
    display: none;
  }
}
